---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="About" description="About Jonathan Johnson.">
  <article class="wrap article">
    <h1>About</h1>
    <div class="prose">
      <p>
        I am a defensive specialist and security researcher. I like to specialize my research on all things Windows, Telemetry, and AI focused. I enjoy 
        understanding advesarial tradecraft and figuring out ways to identify, expose, and prevent future attempts of that behavior. I like to write blogs
        about my research where I try to showcase my thought process and methodology within the write-ups. 
      </p>
      <p>
      Social Media Platforms: 
        <a href="https://github.com/jonny-jhnson">GitHub</a>.
        <a href="https://x.com/JonnyJohnson_">X</a>.
      </p>
    </div>
  </article>
</BaseLayout>
